<div class="col-wrap"><!-- style col-shadow/ col-gray/ testimonial/-->
	<div class="container ">
<div class="row-fluid  t-mar">
<h1><%= t('.heading_river_deep', default: 'River Deep') %></h1>
				<!--   hr-Start-->
			<div class="hr hr-left hr-short"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
				<span class="hr-inner">
					<span class="hr-inner-style"></span>
				</span>
			</div>
				<!--   hr-Close-->

<br/>

	</div><!-- /.row -->

      <!-- Two columns of text below the Box -->
      <div class="row-fluid">
        <div class="span4">

			<div class="service2"> <!-- box-style row Class .box-style -->

			  <h2><%= t('.heading_box1', default: 'Mission') %></h2>
			  <p>Anglers of Honor is dedicated to sharing a world class fly-fishing experience with military personnel and their families.</p>

			</div>
        </div>

        <div class="span4">

			<div class="service2"> <!-- box-style row Class .box-style -->
				<h2><%= t('.heading_box2', default: "Vision") %></h2>
				<p><%= t('.text_box2', default: "Our vision is to honor the sacrifices of our veterans through the mind, body, and flow of nature through fly-fishing.") %></p>

			</div>
        </div>

        <div class="span4">

			<div class="service2"> <!-- box-style row Class .box-style -->
				<h2><%= t('.heading_box3', default: "The Concept") %></h2>
			 	<p><%= t('.text_box3', default: "Experience the relaxing powers of fly fishing; find retreat in the river.") %></p>

			</div><!-- /.spanin -->
        </div><!-- /.span4           3-->

      </div><!-- /.row -->

      <!-- Two columns of text below the Box -->
      <div class="row-fluid">

        <div class="span4">

			<div class="service2"> <!-- box-style row Class .box-style -->
				<h2><%= t('.heading_box4', default: "Who We Serve") %></h2>
			  <p><%= t('.text_box4', default: "The Anglers of Honor program is dedicated to veterans, active military personnel and their families. It is our pleasure to share a fly fishing experience with those who protect our freedoms.") %></p>

			</div><!-- /.spanin -->
        </div><!-- /.span4              4-->

        <div class="span4">

			<div class="service2"> <!-- box-style row Class .box-style -->

			  <h2><%= t('.heading_box5', default: "Why We Serve") %></h2>
			  <p><%= t('.text_box5', default: "Our military personnel have dedicated their lives to protect our country. It's our honor and obligation to serve them.") %></p>

			</div>
        </div>

        <div class="span4">

			<div class="service2"> <!-- box-style row Class .box-style -->

			  <h2><%= t('.heading_box6', default: "How We Serve") %></h2>
			  <p><%= t('.text_box6', default: "Through our specialized programs, we provide access to a world-class fishery and customized equipment.") %></p>

			</div><!-- /.spanin -->
        </div><!-- /.span4                 6-->


      </div>
	</div>
</div>
