<div class="navbar-wrapper">
  <div class="container">
		<div class="logo">
		    <a class="brand" href="#"><img src="assets/logo3.png" alt=""/></a>
		</div>						

		<div class="follower">
			<ul>
				<li><a class="fr" href="#"><span class="icon-plus-3 add"></span>Follow</a>
					<div class="follow-list"> 
						<ul>
							<li class="s-facebook"><a href="https://www.facebook.com/anglersofhonor"><span class="icon-facebook"></span>Facebook</a></li>
							<li class="s-google"><a href="https://plus.google.com/u/0/102563214916283057262/about"><span class="icon-googleplus"></span>Google Plus</a></li>
							<li class="s-twitter"><a href="#"><span class="icon-twitter"></span>Twitter</a></li>
						</ul>
					</div>						
				</li>
			</ul>
		</div>		

		<div id="main-menu">
			<ul class="sf-menu color-m">
				<li>
					<%= content_tag 'a', '<span class="icon-house"></span>Home'.html_safe %>
				</li>
				
				<li>
					<a href="#" id="overview-tab"><span class="icon-layout "></span><%= t('.link1', default: 'Overview') %></a>
					<ul>
						<li><a href="#" class=" color" id="overview"><%= t('.sublink1', default: 'The Program') %></a></li>
						<li><a href="#" class=" color" id="fishery-section"><%= t('.sublink2', default: 'The Fishery') %></a></li>
						<li><a href="#" class=" color" id="river-deep-section"><%= t('.sublink3', default: 'River Deep') %></a></li>
					</ul>	
				</li>

				<li>
					<a href="#" id="donate-link"><span class="icon-heart"></span><%= t('.link2', default: 'Donate') %></a>
				</li>

				<li>
						<%= content_tag 'a', '<span class="icon-docs"></span>Friends'.html_safe %>
						
					<ul>			  
					<li><%= link_to 'Angling University', "http://www.anglinguniversity.com", class: "color", target: "_blank" %></li>
					<li><%= link_to 'Boulder River Ranch', "http://www.boulderriverranch.com/", class: "color", target: "_blank" %></li>
					<li><%= link_to 'Colorado Fly Fishing Reports', "http://www.coloradoflyfishingreports.com/", class: "color", target: "_blank" %></li>
					<li><%= link_to 'Colorado Trout Fisher', "http://www.coloradotroutfisher.com/", class: "color", target: "_blank" %></li>
          <li><%= link_to 'Lincoln Hills Cares', "http://www.lincolnhills.com", class: "color", target: "_blank" %></li>
          <li><%= link_to 'Lincoln Hills Club', "http://www.lincolnhillsflyfishing.com/", class: "color", target: "_blank" %></li>
          <li><%= link_to 'The FlyFisher Group', "http://www.theflyfisher.com", class: "color", target: "_blank"%></li>	
          </ul>		
				</li>
			</ul>  
		</div>
	</div>
</div>