<div id="boxed">
<section>

  <%= render 'nav_bar' %>
  <%= render 'banner' %>
	  
<div class="col-wrap bg-deepgray  bg"><!-- style col-shadow/ col-gray/ testimonial/-->
<div class="container" id="who-we-are">
      <!-- Three columns of text below the carousel -->
      <div class="row-fluid"><!-- box-style row Class .box-style -->
        <div class="span6">
			
			  <h1><%= t('.heading_program_overview', default: 'Our Mission') %></h1>
			  
					<!--   hr-Start-->			  
				<div class="hr hr-left  hr-short"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
					<span class="hr-inner">
						<span class="hr-inner-style"></span>
					</span>
				</div>
					<!--   hr-End-->			  
			  <p><%= t('.text_program_overview', default: 'Anglers of Honor is dedicated to sharing a world class fly fishing experience with military service personnel and their families.') %>
			  </p>
			  
        </div><!-- /.span4 -->

        <div class="span6 ">
				  
				 <!--   Tab Box -->	

<div class="slider-man">
 <div id="slider2" class="imgslider6">

			<% (1..5).each do |n| %>
				<%= image_tag "#{n}.jpg", class: "slide" %>
			<% end %>
	
	
		<div id="prev2"  class="prev2"><a href="#"><span class="icon-arrow-left-7"></span></a></div>
		<div id="next2" class="next2"><a href="#"><span class="icon-untitled-2"></span></a></div>
<div class="nav1 navbtn nav-btn"></div>		
	</div>		
	</div>	
</div>

        </div><!-- /.span4 -->
      </div>	  
</div>
</div>


<div class="col-wrap">
<div class="container ">
      
      <div class="row-fluid  tb-mar">
        <div class="span6 services animationBegin">
			
		<%= video_tag "Anglers-Of-Honor-Video.m4v", class: 'img vimeo', :controls => true, poster: 'Anglers-Of-Honor-Video.jpg' %>
		
        </div><!-- /.span4 -->

        <div class="span6">
			
			  <h1><%= t('.heading_aoh_video', default: 'The Program') %></h1>
			  
					<!--   hr-Start-->			  
				<div class="hr hr-left  hr-short"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
					<span class="hr-inner">
						<span class="hr-inner-style"></span>
					</span>
				</div>
					<!--   hr-End-->			  
			  <p><%= t('.text_aoh_video', default: 'With over 45,000 soldiers injured in Iraq and Afghanistan during the last decade, some families and communities are struggling to cope with the severe injuries sustained overseas by our brave servicemen and women. While the recovery process and transition back to civilian life can be challenging for injured soldiers, Lincoln Hills Cares, working alongside the Wounded Warrior Project and other veteran programs, is committed to doing whatever possible to aid in the recovery and rehabilitation of these heroic veterans. Fishing and other outdoor activities can provide a much needed respite for these individuals, and Lincoln Hills and Angling University are proud to offer their grounds, amenities, and staff to this great cause.') %>
			  </p>
        </div><!-- /.span4 -->
		
      </div><!-- /.row -->		  
</div>
</div><!-- /.col -->	

<div class="col-wrap col-shadow col-gray" id="fishery"><!-- style col-shadow/ col-gray/ testimonial/-->
	<div class="container ">
<div class="row-fluid  t-mar">
<h1><%= t('.heading_fishery', default: "The Fishery") %></h1>	
				<!--   hr-Start-->	
			<div class="hr hr-left hr-short"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
				<span class="hr-inner">
					<span class="hr-inner-style"></span>
				</span>
			</div>
				<!--   hr-Close-->
	
<br/>

	</div><!-- /.row -->
	
      <!-- Two columns of text below the Box -->
      <div class="row-fluid">
       <%= image_tag 'lh.png' %>
	  	</div>
	</div><!-- /.container -->
</div><!-- /.col -->	



<div class="col-wrap bg home-b" id="river-deep">
	<div class="container ">		
		<div class="row-fluid no-mar">
			<div class="span12">
				<div class="home-banner ">
					<h1><%= t('.heading_river_deep', default: "River Deep") %></h1>
				</div>	
			</div>
		</div>
	</div>
</div>

<div class="col-wrap col-shadow col-gray"><!-- style col-shadow/ col-gray/ testimonial/-->
<div class="container ">
      <!-- Three columns of text below the carousel -->
      <div class="row-fluid  tb-mar"><!-- box-style row Class .box-style -->
        <div class="span6 services animationBegin">
			
		<%= video_tag "Anglers-Of-Honor-Brochure.m4v", class: 'img vimeo', :controls => true, poster: 'Anglers-Of-Honor-Brochure.jpg' %>
		
        </div><!-- /.span4 -->

        <div class="span6">
			
			  <h1><%= t('.heading_impact', default: "Our Impact") %></h1>
			  
					<!--   hr-Start-->			  
				<div class="hr hr-left  hr-short"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
					<span class="hr-inner">
						<span class="hr-inner-style"></span>
					</span>
				</div>
					<!--   hr-End-->			  
			  <p><%= t('.text_impact', default: "\"I recently called a client who attended an Anglers of Honor trip. His wife usually answers the phone for him because he has Alzheimer’s, TBI and PTSD. He's a Bronze Star with Valor recipient who is usually very reserved and very much to himself. This day, however, I could hear them laugh - happily, playfully, carefree. It was an amazing moment because before his recent fishing trip, he did not have days like this. What a positive impact on the lives of not only the veteran, but his family as well, and in just a short time!\” - Rob Altenbernd, CMSgt (Ret), USAF") %>
			  </p>
        </div>		
      </div>		  
</div>
</div>

<%= render 'misson_statement' %>	
<%= render 'donate' %>
<%= render 'footer' %>
	

</section>
	</div>
