<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Anglers Of Honor</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--Google Font -->

	<!-- title font-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic,greek-ext,vietnamese,greek' rel='stylesheet' type='text/css'>
   
	<!-- content font-->
	
	<link href='http://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic,greek-ext,greek,vietnamese' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div id="boxed">
<section>

  <%= render 'nav_bar' %>
  <%= render 'banner' %>
	  
<div class="col-wrap bg-deepgray  bg"><!-- style col-shadow/ col-gray/ testimonial/-->
<div class="container ">
      <!-- Three columns of text below the carousel -->
      <div class="row-fluid"><!-- box-style row Class .box-style -->
        <div class="span6">
			
			  <h1>The Program</h1>
			  
					<!--   hr-Start-->			  
				<div class="hr hr-left  hr-short"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
					<span class="hr-inner">
						<span class="hr-inner-style"></span>
					</span>
				</div>
					<!--   hr-End-->			  
			  <p>With over 45,000 soldiers injured in Iraq and Afghanistan during the last decade, some families and communities are struggling to cope with the severe injuries sustained overseas by our brave servicemen and women. While the recovery process and transition back to civilian life can be challenging for injured soldiers, Lincoln Hills, working alongside the Wounded Warrior Project and other veteran programs, is committed to doing whatever possible to aid in the recovery and rehabilitation of these heroic veterans. Fishing and other outdoor activities can provide a much needed respite for these individuals, and Lincoln Hills and Angling University are proud to offer their grounds, amenities, and staff to this great cause.
			  </p>
			  
        </div><!-- /.span4 -->

        <div class="span6 ">
				  
				 <!--   Tab Box -->	

<div class="slider-man">
 <div id="slider2" class="imgslider6">

			<% (1..5).each do |n| %>
				<%= image_tag "#{n}.jpg", class: "slide" %>
			<% end %>
	
	
		<div id="prev2"  class="prev2"><a href="#"><span class="icon-arrow-left-7"></span></a></div>
		<div id="next2" class="next2"><a href="#"><span class="icon-untitled-2"></span></a></div>
<div class="nav1 navbtn nav-btn"></div>		
	</div>		
	</div>	
</div>

        </div><!-- /.span4 -->
      </div><!-- /.row -->		  
</div>
</div><!-- /.col -->	


		  
	
	
	

<div class="col-wrap"><!-- style col-shadow/ col-gray/ testimonial/-->
<div class="container ">
      <!-- Three columns of text below the carousel -->
      <div class="row-fluid  tb-mar"><!-- box-style row Class .box-style -->
        <div class="span6 services animationBegin">
			
		<%= video_tag "Anglers-Of-Honor-Video.m4v", size: "461x348", class: 'themeapt_image themeapt_animate_when_almost_visible right-to-left', :controls => true %>
		
        </div><!-- /.span4 -->

        <div class="span6">
			
			  <h1>Giving Thanks</h1>
			  
					<!--   hr-Start-->			  
				<div class="hr hr-left  hr-short"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
					<span class="hr-inner">
						<span class="hr-inner-style"></span>
					</span>
				</div>
					<!--   hr-End-->			  
			  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velitero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
			  </p>
        </div><!-- /.span4 -->
		
      </div><!-- /.row -->		  
</div>
</div><!-- /.col -->	

<div class="col-wrap col-shadow col-gray"><!-- style col-shadow/ col-gray/ testimonial/-->
	<div class="container ">
<div class="row-fluid  t-mar">
<h1>The Fishery</h1>	
				<!--   hr-Start-->	
			<div class="hr hr-left hr-short"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
				<span class="hr-inner">
					<span class="hr-inner-style"></span>
				</span>
			</div>
				<!--   hr-Close-->
	
<br/>

	</div><!-- /.row -->
	
      <!-- Two columns of text below the Box -->
      <div class="row-fluid">
       <%= image_tag 'lh.png' %>
	  	</div>
	</div><!-- /.container -->
</div><!-- /.col -->	



<div class="col-wrap bg home-b">
	<div class="container ">		
		<div class="row-fluid no-mar">
			<div class="span12">
				<div class="home-banner ">
					<h1>River Deep</h1>
				</div>	
			</div>
		</div>
	</div>
</div>

<div class="col-wrap col-shadow col-gray"><!-- style col-shadow/ col-gray/ testimonial/-->
<div class="container ">
      <!-- Three columns of text below the carousel -->
      <div class="row-fluid  tb-mar"><!-- box-style row Class .box-style -->
        <div class="span6 services animationBegin">
			
		<%= video_tag "Anglers-Of-Honor-Brochure.m4v", size: "461x348", class: 'themeapt_image themeapt_animate_when_almost_visible right-to-left', :controls => true %>
		
        </div><!-- /.span4 -->

        <div class="span6">
			
			  <h1>mind. body. flow.</h1>
			  
					<!--   hr-Start-->			  
				<div class="hr hr-left  hr-short"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
					<span class="hr-inner">
						<span class="hr-inner-style"></span>
					</span>
				</div>
					<!--   hr-End-->			  
			  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velitero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
			  </p>
        </div><!-- /.span4 -->
		
      </div><!-- /.row -->		  
</div>
</div><!-- /.col -->	


<%= render 'misson_statement' %>	
<%= render 'footer' %>
	

	
</section>
	</div>

</body>
</html>