<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Anglers Of Honor</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--Google Font -->

	<!-- title font-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic,greek-ext,vietnamese,greek' rel='stylesheet' type='text/css'>
   
	<!-- content font-->
	
	<link href='http://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic,greek-ext,greek,vietnamese' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div id="boxed">
<section>

  <%= render 'nav_bar' %>
  <%= render 'banner' %>
	  
<div class="col-wrap bg-deepgray  bg"><!-- style col-shadow/ col-gray/ testimonial/-->
<div class="container ">
      <!-- Three columns of text below the carousel -->
      <div class="row-fluid"><!-- box-style row Class .box-style -->
        <div class="span6">
			
			  <h1>The Program</h1>
			  
					<!--   hr-Start-->			  
				<div class="hr hr-left  hr-short"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
					<span class="hr-inner">
						<span class="hr-inner-style"></span>
					</span>
				</div>
					<!--   hr-End-->			  
			  <p>With over 45,000 soldiers injured in Iraq and Afghanistan during the last decade, some families and communities are struggling to cope with the severe injuries sustained overseas by our brave servicemen and women. While the recovery process and transition back to civilian life can be challenging for injured soldiers, Lincoln Hills, working alongside the Wounded Warrior Project and other veteran programs, is committed to doing whatever possible to aid in the recovery and rehabilitation of these heroic veterans. Fishing and other outdoor activities can provide a much needed respite for these individuals, and Lincoln Hills and Angling University are proud to offer their grounds, amenities, and staff to this great cause.
			  </p>
			  
        </div><!-- /.span4 -->

        <div class="span6 ">
				  
				 <!--   Tab Box -->	

<div class="slider-man">
 <div id="slider2" class="imgslider6">

			<% (1..5).each do |n| %>
				<%= image_tag "#{n}.jpg", class: "slide" %>
			<% end %>
	
	
		<div id="prev2"  class="prev2"><a href="#"><span class="icon-arrow-left-7"></span></a></div>
		<div id="next2" class="next2"><a href="#"><span class="icon-untitled-2"></span></a></div>
<div class="nav1 navbtn nav-btn"></div>		
	</div>		
	</div>	
</div>

        </div><!-- /.span4 -->
      </div><!-- /.row -->		  
</div>
</div><!-- /.col -->	


		  
	
	
	

<div class="col-wrap"><!-- style col-shadow/ col-gray/ testimonial/-->
<div class="container ">
      <!-- Three columns of text below the carousel -->
      <div class="row-fluid  tb-mar"><!-- box-style row Class .box-style -->
        <div class="span6 services animationBegin">
			
		<%= video_tag "Anglers-Of-Honor-Video.m4v", size: "461x348", class: 'themeapt_image themeapt_animate_when_almost_visible right-to-left', :controls => true %>
		
        </div><!-- /.span4 -->

        <div class="span6">
			
			  <h1>Ultra responsive design</h1>
			  
					<!--   hr-Start-->			  
				<div class="hr hr-left  hr-short"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
					<span class="hr-inner">
						<span class="hr-inner-style"></span>
					</span>
				</div>
					<!--   hr-End-->			  
			  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velitero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
			  </p>
			  <p><a class="button " href="#">Learn more</a></p>
        </div><!-- /.span4 -->
		
      </div><!-- /.row -->		  
</div>
</div><!-- /.col -->	

		 


<div class="col-wrap col-shadow col-gray"><!-- style col-shadow/ col-gray/ testimonial/-->
	<div class="container ">
<div class="row-fluid  t-mar">
<h1>Core features</h1>	
				<!--   hr-Start-->	
			<div class="hr hr-left hr-short"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
				<span class="hr-inner">
					<span class="hr-inner-style"></span>
				</span>
			</div>
				<!--   hr-Close-->
	
<br/>

	</div><!-- /.row -->
	
      <!-- Two columns of text below the Box -->
      <div class="row-fluid">
        <div class="span4">
					
			<div class="service2"> <!-- box-style row Class .box-style -->

			  <h2><span class="icon-browser"></span>Web Design</h2>
			  <p>Lorem ipsum dolor sit amet, elit, sed diam nonummy nibh dolore magna aliquam erat volutpat...</p>

			</div><!-- /.spanin -->
        </div><!-- /.span4            1-->
		
        <div class="span4">
					
			<div class="service2"> <!-- box-style row Class .box-style -->

			  <h2><span class=" icon-docs"></span>Apps Design</h2>
			  <p>Lorem ipsum dolor sit amet, elit, sed diam nonummy nibh dolore magna aliquam erat volutpat...</p>
			</div><!-- /.spanin -->
        </div><!-- /.span4             2 -->
		
        <div class="span4">
					
			<div class="service2"> <!-- box-style row Class .box-style -->

			  <h2><span class="icon-feather"></span>Branding</h2>
			<p>Lorem ipsum dolor sit amet, elit, sed diam nonummy nibh dolore magna aliquam erat volutpat...</p>

			</div><!-- /.spanin -->
        </div><!-- /.span4           3-->		

      </div><!-- /.row -->
	  
      <!-- Two columns of text below the Box -->
      <div class="row-fluid">
	  
        <div class="span4">
					
			<div class="service2"> <!-- box-style row Class .box-style -->

			  <h2><span class=" icon-code"></span>Development</h2>
			 <p>Lorem ipsum dolor sit amet, elit, sed diam nonummy nibh dolore magna aliquam erat volutpat...</p>

			</div><!-- /.spanin -->
        </div><!-- /.span4              4-->	
		
        <div class="span4">
					
			<div class="service2"> <!-- box-style row Class .box-style -->

			  <h2><span class="icon-flag"></span>Marketing</h2>
			  <p>Lorem ipsum dolor sit amet, elit, sed diam nonummy nibh dolore magna aliquam erat volutpat...</p>

			</div><!-- /.spanin -->
        </div><!-- /.span4               5-->	
		
        <div class="span4">
					
			<div class="service2"> <!-- box-style row Class .box-style -->

			  <h2><span class="icon-archive"></span>IT Consulting</h2>
			  <p>Lorem ipsum dolor sit amet, elit, sed diam nonummy nibh dolore magna aliquam erat volutpat...</p>

			</div><!-- /.spanin -->
        </div><!-- /.span4                 6-->	
		
		
      </div><!-- /.row -->	

      <!-- Two columns of text below the Box -->
      <div class="row-fluid">
	  
        <div class="span4">
					
			<div class="service2"> <!-- box-style row Class .box-style -->

			  <h2><span class="icon-code"></span>Development</h2>
			 <p>Lorem ipsum dolor sit amet, elit, sed diam nonummy nibh dolore magna aliquam erat volutpat...</p>

			</div><!-- /.spanin -->
        </div><!-- /.span4              4-->	
		
        <div class="span4">
					
			<div class="service2"> <!-- box-style row Class .box-style -->

			  <h2><span class="icon-cloud"></span>Globalyzing</h2>
			  <p>Lorem ipsum dolor sit amet, elit, sed diam nonummy nibh dolore magna aliquam erat volutpat...</p>

			</div><!-- /.spanin -->
        </div><!-- /.span4               5-->	
		
        <div class="span4">
					
			<div class="service2"> <!-- box-style row Class .box-style -->

			  <h2><span class="icon-trophy"></span>Business Troops</h2>
			  <p>Lorem ipsum dolor sit amet, elit, sed diam nonummy nibh dolore magna aliquam erat volutpat...</p>

			</div><!-- /.spanin -->
        </div><!-- /.span4                 6-->	
		
		
      </div><!-- /.row -->		  
	  
	</div><!-- /.container -->
</div><!-- /.col -->	




<div class="col-wrap bg home-b"><!-- style col-shadow/ col-gray/ testimonial/-->
<div class="container ">		
			
<div class="row-fluid no-mar">
	<div class="span12">
				<div class="home-banner ">
<h1>Buzz contain parallax style</h1>
				</div>
				
	</div><!-- /.span12 -->
</div><!-- /.row-fluid -->
	  
</div>
</div><!-- /.col -->

	


<div class="col-wrap "><!-- style col-shadow/ col-gray/ testimonial/-->
<div class="container ">		
			
<div class="row-fluid tb-mar">
	<div class="span12">


					
		<div class="tabs style-1 tab-full">
			
			<div id="htabs_op">
				<ul>
					<li><a href="#tabs-1"><span class="icon-light-bulb"></span>Tab 1</a></li>
					<li><a href="#tabs-2"><span class="icon-ccw"></span>Tab 2</a></li>
					<li><a href="#tabs-3"><span class="icon-lifebuoy"></span>Tab 3</a></li>
				</ul>
				<div id="tabs-1" class="center">
					  <h1>Multipurpose use.</h1>
			  
									<!--   hr-Start-->	
								<div class="hr  hr-center"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
									<span class="hr-inner">
										<span class="hr-inner-style"></span>
									</span>
								</div>
									<!--   hr-Close-->		 

						<p>Euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam. Euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Euismod tincidunt ut laoreet.</p>
						<img class='themeapt_image themeapt_animate_when_almost_visible right-to-left' src="assets/window.png" alt="">
				</div>
				
				<div id="tabs-2" class="center">
					  <h1>Tons of Variations.</h1>
					  
						<!--   hr-Start-->	
					<div class="hr  hr-center"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
						<span class="hr-inner">
							<span class="hr-inner-style"></span>
						</span>
					</div>
						<!--   hr-Close-->		 

						<p>Euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam. Euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Euismod tincidunt ut laoreet.</p>
						<img src="assets/window.png" alt="">
				</div>
				<div id="tabs-3" class="center">
				  <h1>Extensive Support.</h1>
			  
						<!--   hr-Start-->	
					<div class="hr  hr-center"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
						<span class="hr-inner">
							<span class="hr-inner-style"></span>
						</span>
					</div>
						<!--   hr-Close-->		 

				<p>Euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam. Euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Euismod tincidunt ut laoreet.</p>
					<img src="assets/window.png" alt="">
				</div>
			</div>
			
			<div class="clear"></div>
		</div><!--tabs-->
		
		
		
				
	</div><!-- /.span12 -->
</div><!-- /.row-fluid -->
	  
</div>
</div><!-- /.col -->

<div class="col-wrap col-shadow col-gray"><!-- style col-shadow/ col-gray/ testimonial/-->
	<div class="container ">


      <!-- Two columns of text below the Box -->
      <div class="row-fluid t-mar"><!-- box-style row Class .box-style -->
	        <!--   Big Title wrap -->	

					 <h1>Latest posts from blog</h1>
			  
				<!--   hr-Start-->			  
			<div class="hr hr-left hr-short"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
				<span class="hr-inner">
					<span class="hr-inner-style"></span>
				</span>
			</div>
			<!--   hr-End-->
		
      </div><!-- /.row -->				
			
			
	<div class="row-fluid"><!-- box-style row Class .box-style -->		
      
		<div class="span4">
			<div class="blog">

				 <div class="img services animationBegin"><a href="#"><img class='themeapt_image themeapt_animate_when_almost_visible top-to-bottom' src="http://placehold.it/295x200/27ae60/fff" alt=""></a></div>
					<h2><a href="#">Default Post with Beautiful Preview Image.</a></h2>

					<p><small>in <span>Default</span></small></p>
					<p>Sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
						
						<div><a class="button" href="#">Read More</a> 
							<div class="likebtn">
								<a class="l-btn"  href="#"><span class="icon-export"></span></a>
				<div class="follow-list likelist"> 
					<ul>
						<li><a href="#"><span class="icon-facebook"></span>Facebook</a></li>
						<li><a href="#"><span class="icon-twitter"></span>Twitter</a></li>
						<li><a href="#"><span class="icon-googleplus"></span>Google Plus</a></li>
					</ul>
				</div>									
							</div>
						</div>
			</div><!-- /portfolio-item -->
        </div><!-- /.span4 -->

        <div class="span4">
			<div class="blog">

				  <div class="img vimeo services animationBegin"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/4-OEMBVg9bM?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></div>
					<h2><a href="#">Default Post with Beautiful Preview Image.</a></h2>

					<p><small>in <span>Default</span></small></p>
					<p>Sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
						
						<div><a class="button" href="#">Read More</a> 
							<div class="likebtn">
								<a class="l-btn"  href="#"><span class="icon-export"></span></a>
				<div class="follow-list likelist"> 
					<ul>
						<li><a href="#"><span class="icon-facebook"></span>Facebook</a></li>
						<li><a href="#"><span class="icon-twitter"></span>Twitter</a></li>
						<li><a href="#"><span class="icon-googleplus"></span>Google Plus</a></li>
					</ul>
				</div>									
							</div>
						</div>
			</div><!-- /portfolio-item -->
        </div><!-- /.span4 -->	 

        <div class="span4">
			<div class="blog">

<div class="imgslider img services animationBegin">
	<div id="">

		
  <img src="http://placehold.it/300x205/27ae60/fff" class="slide" alt=""/>		
  <img src="http://placehold.it/300x205/861BE1/fff" class="slide" alt=""/>		
  <img src="http://placehold.it/300x205/2E73C2/fff" class="slide" alt=""/>		
		
		<div id="prev3" class="prev2"><a href="#"><span class="icon-arrow-left-7"></span></a></div>
		<div id="next3" class="next2"><a href="#"><span class="icon-untitled-2"></span></a></div>
<div class="nav2 navbtn nav-btn"></div>		
	</div>	
</div>
					<h2><a href="#">Default Post with Beautiful Preview Image.</a></h2>

					<p><small>in <span>Default</span></small></p>
					<p>Sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
						
						<div class=""><a class="button" href="#">Read More</a> 
							<div class="likebtn services animationBegin">
								<a class="l-btn"  href="#"><span class="icon-export"></span></a>
				<div class="follow-list likelist"> 
					<ul>
						<li><a href="#"><span class="icon-facebook"></span>Facebook</a></li>
						<li><a href="#"><span class="icon-twitter"></span>Twitter</a></li>
						<li><a href="#"><span class="icon-googleplus"></span>Google Plus</a></li>
					</ul>
				</div>									
							</div>
						</div>
			</div><!-- /portfolio-item -->
        </div><!-- /.span4 -->			
		
      </div><!-- /.row -->		 

  
    
	</div><!-- /.container -->
</div><!-- /.col -->	
	
	
	
	
<div class="col-wrap "><!-- style col-shadow/ col-gray/ testimonial/-->
	<div class="container ">

      <!-- Two columns of text below the Box -->
      <div class="row-fluid tb-mar"><!-- box-style row Class .box-style -->

        <div class="span12">
			<div class="subscrib homesub">
				<form method="get" id="searchform" action=""> 
	        <!--   Big Title wrap -->	

						  <h1>Subscribe to our newsletter</h1>
		  
						<!--   hr-Start-->			  
					<div class="hr hr-center"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
						<span class="hr-inner">
							<span class="hr-inner-style"></span>
						</span>
					</div><!--   hr-End-->
					
				<p>
					Minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat...
				</p>	
				<p>
					<input type="text" value="Enter your email address ..." name="subscrib" id="subscrib" onblur="if (this.value == ''){this.value = 'Enter your email address ...';}" onfocus="if (this.value == 'Enter your email address ...'){this.value = '';}"   />
				<input type="submit" value="Subscribe Now" class="submit button purchase btn-sent " />
				</p>

				<p></p>
				</form>

			</div><!-- /portfolio-item -->
        </div><!-- /.span4 -->
 		
			 
      </div><!-- /.row -->		
	 
 
	</div><!-- /.container -->
</div><!-- /.col -->	
	
		
	
	
<div class="col-wrap col-shadow col-gray"><!-- style col-shadow/ col-gray/ testimonial/-->
	<div class="container ">

      <!-- Two columns of text below the Box -->
      <div class="row-fluid"><!-- box-style row Class .box-style -->


						  <h1>Our clients</h1>	

				<!--   hr-Start-->	
			<div class="hr hr-left hr-light"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
				<span class="hr-inner">
					<span class="hr-inner-style"></span>
				</span>
			</div>	
	<!--   hr-Close-->
<ul class="pagenavi cl_nav">
<li><a class="prev" href="#">
<span class="icon-arrow-left-5"></span>
</a></li>

<li><a class="next" href="#">
<span class="icon-arrow-right-5"></span>
</a></li>
</ul>	  
			<div class="span12 themeapt-gallery  themeapt_animate_when_visible">
	  
				<div class="client themeapt-gallery-thumb">
					<ul>
						<li><a href="#" class="bwWrapper featured "><img src="http://placehold.it/198x120/fff/3CE11B" alt=""></a></li>
						<li><a href="#" class="bwWrapper featured "><img src="http://placehold.it/198x120/fff/E11B8B" alt=""></a></li>
						<li><a href="#" class="bwWrapper featured "><img src="http://placehold.it/198x120/fff/000" alt=""></a></li>
						<li><a href="#" class="bwWrapper featured "><img src="http://placehold.it/198x120/fff/E1451B" alt=""></a></li>
						<li><a href="#" class="bwWrapper featured "><img src="http://placehold.it/198x120/fff/D5E11B" alt=""></a></li>
						<li><a href="#" class="bwWrapper featured "><img src="http://placehold.it/198x120/fff/37DDA8" alt=""></a></li>
						<li><a href="#" class="bwWrapper featured "><img src="http://placehold.it/198x120/fff/EDB7B7" alt=""></a></li>
						<li><a href="#" class="bwWrapper featured "><img src="http://placehold.it/198x120/fff/2E73C2" alt=""></a></li>						
					</ul>
				</div>

						
			</div><!-- /.span4 -->

      </div><!-- /.row -->		 
 
	</div><!-- /.container -->
</div><!-- /.col -->	
	
	<%= render 'footer' %>
	
<div class="footer">
	<div class="container">
		<p>
			&copy; 2013 Buzz: Responsive Multiporpuse HTML Template. Designed and Developed by <span><a href="http://themeapt.com" target="_blank">ThemeApt</a></span>
		</p>
	</div>	
</div>	
	
</section>
	</div>

</body>
</html>